.QuizList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}
.quizContainer {
  width: 640px;
}
.QuizList h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.QuizList p {
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 50px;
}
.QuizList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.QuizList li {
  width: 100%;
}
.QuizList li a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #109CF1;
  background: #FDFDFD;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 15px;
}
.QuizList li a:hover {
  border: 1px solid #109CF1;
}