.Select {
  margin-bottom: 15px;
  width: 48%;
}
.Select label {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 0;
  display: block;
}
.Select select {
  display: block;
  height: 50px;
  background: #FDFDFD;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  outline: none;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .Select {
    margin-bottom: 20px;
    width: 100%;
  }
  .Select label {
    font-weight: 300;
    font-size: 14px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #000000;
  }
}