.Drawer {
  width: 260px;
  padding-top: 100px;
  padding-left: 50px;
  box-sizing: border-box;
  background: #F5F5FA;
}
.Drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Drawer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
.Drawer ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #334D6E;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  transition: .3s;
}
.Drawer ul li a svg {
  margin-right: 14px;
}
.Drawer ul li .active path {
  stroke: #109CF1;
}
.Drawer ul li a:hover,
.Drawer ul li .active {
  color: #109CF1;
}
.Drawer .menuTitle {
  font-size: 18px;
  line-height: 23px;
  color: #109CF1;
  margin-bottom: 60px;
}
.Drawer .login {
  margin-bottom: 60px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #90A0B7;
}
.Drawer .isLogout {
  margin-bottom: 140px;
}