.Quiz {
    margin-top: 180px;
    padding-left: 250px;
}
.QuizWrapper {
    position: relative;
    width: 650px;
}
.Quiz h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
}
.quizLoader {
    margin-top: 150px;
}