.FinishedQuiz {
  padding: 20px;
  color: #000;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
}
.FinishedQuiz h2 {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}
.FinishedQuiz p {
  margin: 25px 0;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #109CF1;
}
.FinishedQuiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bottomBtn {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.bottomBtn a {
  width: 50%;
}
.bottomBtn > div {
  width: 50%;
  margin-left: 50px;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #109CF1;
}
.FinishedQuiz ul li {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #000000;
}
.success {
  color: rgba(161, 240, 69, 1);
}
.error {
  color: rgba(240, 87, 108, 1);
}