.Button {
  width: 100%;
  font-weight: 300;
  font-size: 19px;
  line-height: 50px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.Button:focus {
  outline: none;
}
.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}
.Button:disabled {
  background: #109CF1;
  opacity: 0.3;
  border-radius: 10px;
  cursor: not-allowed;
}
.success {
  color: #FFFFFF;
  background: #109CF1;
  border-radius: 10px;
}
