.Answeritem {
  width: 100%;
  outline: none;
  max-width: 370px;
  cursor: pointer;
  background: #FDFDFD;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  color: #334D6E;
  padding-left: 15px;
  margin-bottom: 15px;
}
.Answeritem:hover {
  border: 1px solid #109CF1;
  color: #109CF1;
}
.Answeritem.active {
  color: #109CF1;
  border: 1px solid #109CF1;
}
.Answeritem.success {
  background: #109CF1;
  color: #fff;
}
.Answeritem.error {
  border: 1px solid #FF0000;
  color: #FF0000;
}