.Input {
  margin-bottom: 15px;
}
.Input label {
  padding: 0;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
}
.Input input {
  outline: none;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  color: #109CF1;
  padding: 0 15px;
  line-height: 50px;
  background: #FDFDFD;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;
}
.Input span {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
}
.inputValid input {
  color: #f01f30;
}