.ActiveQuiz {
  color: #fff;
  box-sizing: border-box;
}
.Question {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
}
.ActiveQuiz > div {
  max-width: 370px;
}
.Question span {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #000000;
}
.Question small {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #000000;
}
.ActiveQuiz .activeTitle {
  position: absolute;
  top: -105px;
  background: #FDFDFD;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #109CF1;
  width: 100%;
  max-width: 100%;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .ActiveQuiz > div {
    max-width: 100%;
  }
  .Question {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .Question small,
  .Question span {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
}