.QuizCreator {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}
.QuizCreator > div {
  width: 100%;
  max-width: 780px;
  padding: 0 20px;
}
.QuizCreator h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}
.QuizCreator ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.QuizCreator ul li:nth-child(1) {
  width: 100%;
}
.QuizCreator ul li {
  width: 48%;
}
.addQuestion {
  cursor: pointer;
  color: #109CF1;
  margin: 25px 0;
}
.QuizCreator input:focus {
  border: 1px solid #109CF1;
}
.QuizCreator .bottomFlex button {
  width: 48%;
}
.QuizCreator .bottomFlex p {
  margin: 0;
  cursor: pointer;
  width: 48%;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #109CF1;
}
.bottomFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}