.QuizCreator {
  padding-left: 250px;
  padding-top: 100px;
}
.QuizCreator > div {
  width: 100%;
  max-width: 780px;
  padding: 0 20px;
}
.QuizCreator h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.QuizCreator form ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.QuizCreator form ul li:nth-child(1) {
  width: 100%;
}
.QuizCreator form ul li {
  width: 48%;
}
.addQuestion {
  cursor: pointer;
  color: #109CF1;
  margin: 25px 0;
}
.QuizCreator input:focus {
  border: 1px solid #109CF1;
}
.QuizCreator .bottomFlex button {
  width: 48%;
}
.QuizCreator .bottomFlex p {
  margin: 0;
  cursor: pointer;
  width: 48%;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #109CF1;
}
.bottomFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listquestion {
  list-style: none;
  margin: 40px 0;
  padding: 0;
}
.nameTest {
  margin-top: 40px;
}
.listquestion li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px;
}
.listquestion li span {
  font-size: 24px;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #109CF1;
}